#root {
  width: 100%;
}

.app {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
}

.app-header {
  text-align: center;
  margin-bottom: 20px;
}

.app-header h1 {
  margin-bottom: 15px;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.navigation button {
  padding: 8px 15px;
  border: 1px solid #999;
  background-color: #080505;
  border-radius: 4px;
  cursor: pointer;
}

.navigation button:hover {
  background-color: #e5e5e5;
}

.search-section {
  margin-bottom: 25px;
}

.search-section label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.search-section input {
  width: 100%;
  max-width: 500px;
  padding: 9px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
}

.country-list {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  gap: 12px;
  justify-content: center;
  margin-top: 25px;
}

.country-card {
  border: 1px solid #f4f2f2;
  border-radius: 5px;
  padding: 10px;
  background-color: black;
  width: 180px;
}

.country-card h2 {
  margin: 0;
  font-size: 18px;
}

.country-card p {
  margin: 6px 0;
}

.country-card button {
  margin-top: 10px;
  padding: 5px 12px;
  border: 1px solid #999;
  background-color: #070606;
  border-radius: 4px;
  cursor: pointer;
}

.country-card button:hover {
  background-color: #060505;
}

/* Tablet */
@media (max-width: 800px) {
  .country-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Celular */
@media (max-width: 500px) {
  .app {
    width: 94%;
    margin: 20px auto;
  }

  .navigation {
    flex-direction: column;
  }

  .navigation button {
    width: 100%;
  }

  .country-list {
    grid-template-columns: 1fr;
  }

  .app {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
}

.app-header {
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}
}